/* VARIABLES */
:root {
    --primary-color: #79277C;
    --secondary-color: #F7B2B7;
    --tertiary-color: #9CC4B2;
  }
  /* Universal Selector */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    color: var(--tertiary-color);
    font-family: Helvetica, Arial, sans-serif;
}

body {
    background: #ededed;
    color: var(--grey);
    margin: 0;
    padding: 0;
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }
  
  header {
    background: var(--secondary);
    border-bottom: 5px solid var(--primary);
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  header div {
    color: var(--tertiary);
    margin: 5px 0 20px;
    font-size: 20px;
  }

  header a {
    text-decoration: none;
    color: var(--primary-color);
    padding: 10px;
}

.highscore a:hover {
    background: var(--primary-color);
    color: var(--tertiary-color);
    border-radius: 10px;
}
main {
    text-align: center;
    border-bottom: 2px solid var(--secondary-color);
    width: 60%;
    margin: 10px auto;
}
.title {
    font-size: 40px;
    padding: 15px;
}
.substance {
    padding: 20px;
    line-height: 1.5;
}
.btn {
    background: var(--primary-color);
    color: #ededed;
    padding: 10px;
    margin: 0 0 15px 0;
}

