/* VARIABLES */
:root {
    --primary-color: #79277C;
    --secondary-color: #F7B2B7;
    --tertiary-color: #9CC4B2;
  }
  /* Universal Selector */
* { 
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: #ededed;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    background: var(--secondary);
    border-bottom: 5px solid var(--primary);
    padding: 20px 35px;
    background-color: var(--tertiary-color);
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

header div {
    color: var(--tertiary);
    margin: 5px 0 20px;
    font-size: 20px;
}

.highscore {
    text-decoration: none;
    color: var(--primary-color);
    padding: 10px;
}

.highscore:hover {
    background: var(--primary-color);
    color: var(--tertiary-color);
    border-radius: 10px;
}

main {
    text-align: center;
    border-bottom: 2px solid var(--secondary-color);
    width: 60%;
    margin: 10px auto;
}

.title {
    font-size: 40px;
    padding: 15px;
}

.substance {
    padding: 20px;
    line-height: 1.5;
}

.btn {
    background: var(--primary-color);
    color: #ededed;
    padding: 10px;
    margin: 0 0 15px 0;
}

.answer-op {
    color: var(--primary-color);
    width: 70%;
    line-height: 1.5;
    font-size: 22px;
    padding: 10px;
    font-weight:bold;
    
}

.answer-op:hover {
    background-color: var(--primary-color);
    color: #ededed;
    border-radius: 15px;
}

.answer-return {
    font-size: 32px;
    color: var(--secondary-color);
    opacity: .8;
    text-align: center;
}

.initial-input {
    margin: 5px;
    border: 1px solid var(--secondary-color);
    font-size: 16px;
    padding: 7px 15px;
    color: var(--secondary-color);
    margin-bottom: 15px;
    border-radius: 10px;
    background-color: rgba(255,255,255, 0.75);
}

.initial-input:focus {
    background-color: rgba(255,255,255, 1);
    outline: none;
}

.score-card {
    background-color: var(--tertiary-color);
    margin: 10px auto;
    font-size: 18px;
    margin-bottom: 15px;
    line-height: 1.5;
    width: 20%;
}

.score-card::first-line {
    font-weight: bold;
}